
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.form-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
overflow-y: auto;
  flex-direction: column;
  height: 100vh;
  align-items: center;


}
.title{
  font-size: 600;
  font-weight: 200;
  color: black !important;;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  
  .media{
  align-items: center !important;
    display: flex;   
  justify-content: space-between !important ;
  }
}
.background-wrapper{
border:  1px solid #DADCE0 !important;
background-color:#FDFDFD;
border-radius: 6px;
padding: 10px;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.2)

}
.inputwrapper:focus{
  background-clip:none;
}
.input-wrap{
  border: none !important;
  background-color: #F2F2F2 !important;
  color: black !important;
}

.searchwrapper{
 width: 100%;
  width:50vw ;
color:black !important;
}
Input{
  outline: none !important;
  border:none !important;
background-color: transparent !important;
}
label{
  color: black !important;
}
.content-wrap {
  white-space: normal !important; /* Allow text to wrap to the next line */
  width: 400px !important; /* Set the width as needed */
  padding-bottom: 300px !important; /* Add padding or adjust as needed */
  outline: none !important; /* Remove the outline on focus if desired */
}
.compose-input {

  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;

}


.FormGroup:focus{
outline: none !important;
border: none !important;
}

Button{
  background-color: #484E55 !important;
  border: none !important;
  transition-duration: 500s;
}
Button:hover{
  background-color: darkgray !important;
  color:black !important;
  
}

.profile-wrapper{
  position: relative;
  width: 100%;

  display: inline-block;

}


.dropdown-menu[data-bs-popper]{
  right: 100px !important;
  left: 10px !important;
}
/* header */
.header-wrap{
display: flex;
justify-content: flex-start;
gap:10%;
}


.compose-wrapper{
  background-color: #C2E7FF;
  border-radius: 10px;
  padding: 6px 10px 10px 6px;
  border-radius: 10px;
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
}
.sidebar{

display: flex;
 flex-direction:column;
 gap: 10px;
 background-color:#F6F8FC;
padding-left: 15px;

height: 100vh;
/* position: fixed; */

}


.form-control:focus {
  box-shadow: none !important;

}
.sendmail-form{
overflow-x:auto;
  height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
.hole-sendmail-form{
  height: 100vh;
  width: 100vw;
}
.dropdown-menu[data-bs-popper]{
  min-width: 12rem !important;
 
}


.dropdown-item:hover {
  padding-right: 20px !important;

  padding-right: 10px !important;
  background-color: #C2E7FF !important;
border-radius:  5px !important;
}
.new-mesg{
  border-radius: 9px 9px 0 0;
width: 100%;
  background-color: #D4EBFC;
}
.border-wrapper{
  border-bottom:1px solid lightgray  !important;
  border-radius: 0px !important;
}

.gmail-tittle{
  font-weight: 500;
  font-size: 20px;
  opacity: 0.7;
 
}
.tittles{
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 500;
  opacity: 0.9;
  font-style: normal;
size: 14px;
line-height: 20px;

}
/* all mail css */


.mail-tittle{
  line-height: normal;
  font-weight: 400;
  font-size: 30px;
  opacity: 0.8;
}
.all-mail-conatainer{
 border-bottom: 0.8px solid gray; 
}
.MailData{
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 700;
  opacity: 0.9;
  font-style: normal;
size: 13px;
color: #202124;
border: 1px solid transparent;
margin-bottom: auto !important;

}
.delete-button{
  background-color: transparent !important;
  color: black !important;
  padding: 0.2rem !important;
  border-radius: 2px !important;
}

.all-mail-data:hover{
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}
.hover-to:hover{
  cursor: pointer;
}
.hover-sub:hover{
    cursor: pointer;
}

.all-mail-data{
  margin: auto;
  overflow:hidden;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;

}

.left-sidebar{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.maincomponent{
  height: 100vh;
  overflow-y: auto;

}
.maincomponent::-webkit-scrollbar {
  display:none !important;
}
.mail-content-wrap{
height: 100%;
}
.particular-content{
height: 100vh;
overflow-y: auto;
color: black;
background-color:#484E55;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.maincomponent::-webkit-scrollbar {
  display:none !important;
}


.specific-content::-webkit-scrollbar{
display: none !important;

}

.specific-content{
border-radius: 5px;
  width:50vw;
  padding:20px;
  background:#FDFDFD;
  color: black;
  overflow-Y:auto;
}

.other-content{
  background-color:#484E55;
  height: 100vh;
  color: white !important;
  overflow-y:hidden;
}
.content-tittle-container{
  opacity: 0.8;
  font-weight: 500;
  font-size: 20px;
}

/* copmpose
 */

.compose-wrapper:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}

.show::-webkit-scrollbar{
  display: none !important;
}
/* from */
.visible{
  display: none !important;
}
.form-control{
  transition: none !important;
 
}
.form-container-wrap{
  background-color: #FFFFFF ;
  border-radius: 10px;
  line-height: 500px !important;
}
.search-button{
  background-color: transparent !important;

}
.search-button:hover{
  background-color: #DDE3EC !important;
  border-radius: 10px !important;

}

.form-group{
  background-color: white !important;
  padding: 10px;
}






.send-form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
color: black;
  border: 1px solid lightgray;
  border-radius: 10px;

}